/* 
    Created on : 05/06/2016, 01:17:47
    Author     : Wensttay de Sousa Alencar <yattsnew@gmail.com> 
*/

@media screen and (max-width: 400px){
    .dados{
        width: 200px;
    }
    .material-icons { 
        font-size: 50px !important;

    }
    .dados-info{
        margin: 10px;
        word-break: break-all;
    }
}