/* 
    Created on : 15/05/2016, 01:33:43
    Author     : Wensttay de Sousa Alencar <yattsnew@gmail.com> 
*/
.evento-nome{
    font-size: 165px;
    font-family: Rayando;
}

.evento-box{
    border-radius: 20px;
    padding: 30px;
}

.evento-info-box .evento-link h3{
    min-height: 52px;
}

.evento-info-box .evento-link:hover{
    opacity: 1;
}

.evento-info-box .evento-link .evento-info-img{
    width : 150px; 
    height: 150px;
    margin-top: -10px;
    margin-bottom: 50px;
}