/* 
    Created on : 15/05/2016, 01:50:49
    Author     : Wensttay
*/

.organization{
    border: 5px dashed rgba(255,255,255,0.8);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 100px;
}

.organization-box{
    margin: 0 auto;
    display: table;
}

.organization-list,
.people{
    margin: 0;
    padding: 0;
}

.organization-list{
    display: inline-flex;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

.list-size-4{
    width: 840px;
}
.list-size-3{
    width: 630px;
}
.list-size-2{
    width: 420px;
}
.list-size-1{
    width: 210px;
}

::-webkit-scrollbar{
    display: none;
}

.people{
    height: 240px;
}

.people-box{
    width: 210px;
    height: 270px;
    max-width: 210px;
    max-height: 270px;
    display: table-cell;
    padding: 15px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .people-box{
        min-width: 210px;
    }
}

.people{
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    box-shadow: 0px 0px 15px black;
    /*box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);*/
    -webkit-filter: grayscale();
    filter: grayscale(1);
    min-width: 180px;
    max-width: 180px;
}

/*.people:hover{
    -webkit-filter: none;
    filter: none;
}*/

.people .photo-box{
    max-height: 180px;
    min-height: 180px;
    max-width: 180px;
    min-width: 180px;

    padding: 10px;
    text-align: center;
}

.people .photo-box img{
    /*height: 100%;*/
    /*width: 100%;*/
    max-width: 160px;
    max-height: 160px;
}

.people .name{
    padding: 0 10px 10px 10px;
    height: 60px;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 18px;
    /*font-weight: bold;*/
    font-family: DESYREL;
}

.scroll-button{
    font-size: 80px;
    padding: 1em 0;
    color: rgba(255,255,255, 0.8);
    cursor: pointer;
}

.scroll-button a{
    padding:0px;
    margin:0px;
}

.scroll-button-left{
    margin-left: 50px;
    float: left;
}
.scroll-button-right{
    margin-right: 50px;
    float: right;
}

/* continua a declaração de perspectiva para o container geral */
.flip-container { 
    perspective: 1000; 
    transform-style: preserve-3d; 
}  	

/*  MODIFICADO! vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .back { transform: rotateY(0deg); }  	
.flip-container:hover .front { transform: rotateY(180deg); }    
.flip-container, .front, .back { 
    width: 180px;
    height: 240px; 
}    

/* define a velocidade da animação */
.flipper {  	
    transition: 0.6s;  	
    transform-style: preserve-3d;    	
    position: relative;  
}    

/* esconde o verso durante a animação */
.front, .back { 
    backface-visibility: hidden;  	
    transition: 0.6s;  	
    transform-style: preserve-3d;    	
    position: absolute;  	
    top: 0;  	
    left: 0;  
}    

/*  MODIFICADO! frente posicionada sobre o fundo */
.front {  	
    z-index: 2;  	
    transform: rotateY(0deg);  
}    

/* verso inicialmente escondido */
.back { transform: rotateY(-180deg); }    
