/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/05/2016, 10:41:18
    Author     : wensttay
*/

.program-conteiner{
    margin-bottom: 35px;
}
.program-day-box{
    border-radius: 20px;
    font-family: WC_RoughTrad;
    border: 5px solid rgba(255, 255, 255, 0.8);
}

.program-day-box .title:hover,
.program-day-box .img-box:hover{
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
}

.program-day-box .img-box .day-img-box img{
    width: 60%;
    opacity: 0.8;
}

.program-day-box .img-box{
    cursor: pointer;
}

.program-day-box .title{
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 5px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
    font-size: 24px;
}

.program-day-box .title,
.program-day-box .hour-box,
.program-day-box .hour-box .row-box{
    width: 100%;
}

.program-day-box .hour-box{
    padding: 20px;
    border-bottom: 5px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
}
.program-day-box .hour-box:last-child{
    border-bottom: none;
}
.program-day-box .hour-box:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}

.program-day-box .hour-box .row-box:first-child{
    font-size: 18px;
    padding-left: 0;
}
.program-day-box .hour-box .row-box{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
