/* 
    Created on : 17/05/2016, 00:05:22
    Author     : Wensttay
*/

@media screen and (min-width: 768px){
    .doble-colum .colum-left{
        padding-left: 0;
    }

    .doble-colum .colum-right{
        padding-right: 0;
    }
}

@media screen and (max-width: 768px){
    .doble-colum .colum-left,
    .doble-colum .colum-right{
        padding: 0;
        margin-top: 0;
    }

    .img-right,
    .before-img-left{
        margin-bottom: 0;
    }
}