/* 
    Created on : 15/05/2016, 01:52:33
    Author     : Wensttay
*/

@font-face { font-family: WC_RoughTrad; src: url('../fonts/WC_RoughTrad.ttf');} 
@font-face { font-family: ClaireHand; src: url('../fonts/ClaireHandRegular.ttf');}
@font-face { font-family: Rayando; src: url('../fonts/rayando.ttf');} 
@font-face { font-family: DiciHandwrite; src: url('../fonts/DiciHandwrite.ttf');}


.padding-medium{padding: 10px;}
/*.padding-high{padding: 15px;}
.padding-extra-high{padding: 20px;}*/

a:active, a:link, a:hover, a:visited ,a{
    text-decoration: none;
    color: white;
    display: block;
}
.disabled,
.disabled a{
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}

.medium-margin-bottom{
    margin-bottom: 50px;
}

.hight-margin-bottom{
    margin-bottom: 100px;
}

html,body { 
    color: white;
    font-family: ClaireHand;
    height: 100%;
    margin:0;
    padding:0;
}

p{
    padding: 0;
    margin: 0;
}

.default-low-opacity{
    opacity: 0.8;
}
.default-low-color-white-transparence{
    color: rgba(255,255,255,0.8);
}
a.default-low-color-white-transparence{
    color: rgba(255,255,255,0.8) !important;
}

.default-border-color{
    border-color: rgba(255,255,255, 0.6);
}
.default-border{
    border: 5px solid rgba(255,255,255, 0.6);
}
.default-dashed-border{
    border: 5px dashed rgba(255,255,255, 0.6);
}
.default-border-bottom{
    border-bottom: 5px solid rgba(255,255,255, 0.6);
}
/*.default-border-left{
    border-left: 5px solid rgba(255,255,255, 0.6);
}
.default-border-right{
    border-right: 5px solid rgba(255,255,255, 0.6);
}
.default-border-top{
    border-top: 5px solid rgba(255,255,255, 0.6);
}
.default-border-radius{
    border-radius: 20px;
}*/

.default-box{
    border: 5px solid rgba(255,255,255, 0.6);
    border-radius: 20px;
    font-family: WC_RoughTrad;
    margin: 0 0 35px 0 !important;
}
.default-box .title{
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-width: 5px;
    border-bottom-style: solid;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
}
.default-box .body-img{
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}
.default-box .body-img:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.default-box .body-img .figure{
    max-width: 100%;
}
.default-box .body-img .figure-with-padding{
    padding: 20px;
}
.default-box .title,
.default-box .body-list .default-row,
.default-box .body-list .default-row .default-row-colum{
    width: 100%;
}
.default-box .default-row{
    padding: 15px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}
.default-box .default-row:last-child{
    border-radius: 0 0 10px 10px;
    border-bottom: none;
}
.default-box .default-row:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
}

.invisivel{}
.exibindo{}

.off-load{
    display: none !important;
}

.article-title{
    font-family: WC_RoughTrad;
    padding: 10px auto;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    font-size: 28px;
    margin-bottom: 35px;
    text-align: center;
}

/*.selecionado{
    border-color: #337ab7;
    border-style: solid;
    border-bottom-width: 3px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}*/

.container-base{
    padding-top: 150px;
    width: 100%;
    display: none;

}

.background{
    height: 100%;
    z-index: -1;
    width: 100%;
}

.blackboard-background {
    position: fixed;
    background-image: url('../img/background/blackboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header{
    padding: 20px 0;
    z-index: 999;
    width: 100%;
}

.issn-box{
    margin: 0 auto;
    width: 200px;
}

.issn{
    color: rgba(255,255,255, 0.6);
    font-size: 14px;
    font-weight: bold;
    width: 150px;
    text-align: center;
    padding: 5px;
    z-index: -1;
    right: 0;
    display: fixed;
    position: absolute;
    margin-top: -10px;
    border-radius: 0 0 0 20px;
}

section{
    padding:10px;
    padding-bottom: 100px;   /* More that Height of the footer */
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
    height: 60px;
    padding: 10px;
}

nav{
    display: table;
    margin: 0 auto;	
}

.menu-principal-box ul.principal-list{
    height: 80px;
    padding: 0px;
    margin: 0px;
    color: rgba(255,255,255, 0.8);
}


.menu-button-with-img{
    cursor: pointer;
    height: 75px;
    width: 75px;
}

.menu-button-with-img:hover .button-img{
    opacity: 1;
}

#exit-menu-principal-button{
    float: left;
    margin: 35px 0 35px 35px;
    display: none;
}

#menu-principal-button{
    display: none;
    float: right;
    margin: 35px 35px 35px 0;
    display: none;
}

#logo-small{  
    float: left;
    margin: 35px 0 35px 35px;
    display: none;
}

.menu-principal-box ul.principal-list li.principal-list-item:hover a.item-title{
    color: rgba(255, 255, 255, 1) !important;
}
.menu-principal-box ul.principal-list li.item-bordered:hover{
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.6);
}
.menu-principal-box ul.principal-list li.principal-list-item-withsublist{
    border-radius: 20px 20px 0px 0px !important;
}
.menu-principal-box ul.principal-list li.principal-list-item-withsublist:hover{
    border: 4px dashed rgba(255, 255, 255, 0.6) !important;
}
.menu-principal-box ul.principal-list li.principal-list-item-withsublist .list-item-withsublist-title{
    cursor: default;
}
li.page-link:hover a{
    color: rgba(255, 255, 255, 1) !important;
}
li.page-link:hover{
    background-color: rgba(255, 255, 255, 0.2);   
}

li.page-link, li.item-bordered, ul.drop-menu{
    padding: 7px;
}

ul.drop-menu{
    visibility: hidden;
    margin-left: -11px;
    margin-top: 7px;
    list-style: none;
    border-width: 4px;
    border-style: solid;
    position: fixed;
    padding: 0px;
    border-radius: 0px 0px 20px 20px;
}

ul.drop-menu,
.menu-principal-box ul.principal-list li.principal-list-item{
    width: 155px;    
}

.menu-principal-box ul.principal-list li.principal-list-item{
    list-style: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

ul.drop-menu li.drop-menu-item{
    /*padding: 10px 0;*/
    border-bottom-width: 5px;
    border-bottom-style: solid;
    list-style: none;
    display: block !important;
}
ul.drop-menu li.drop-menu-item:last-child{
    border-bottom: none;
}
ul.drop-menu li.drop-menu-item:hover a{
    opacity: 1;
    color: rgba(255, 255, 255, 1);
}

#container-fullpage {
    min-height:100%;
    position:relative;
}

footer p{
    padding-top: 10px;
}

/*
 * This code make a centralized images Vertically and horizontally
*/
.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.container-ajust {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font: 0/0 a;
    text-align:center; /* Align center inline elements */
}

.container-ajust:before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    height: 100%;
}

.container-ajust img{
    vertical-align: middle;
    display: inline-block;
    width: 60%;
    height: 60%;
}
/* END */

#footer{
    z-index: 9999;
}

/* 
    Created on : 15/05/2016, 01:33:43
    Author     : Wensttay
*/
.evento-nome{
    font-size: 165px;
    font-family: Rayando;
}

.evento-box{
    border-radius: 20px;
    padding: 30px;
}

.evento-info-box .evento-link h3{
    min-height: 52px;
}

.evento-info-box .evento-link:hover{
    opacity: 1;
}

.evento-info-box .evento-link .evento-info-img{
    width : 150px; 
    height: 150px;
    margin-top: -10px;
    margin-bottom: 50px;
}

.criterios{
    font-family: WC_RoughTrad;
    font-size: 19px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: justify;
}

.criterios p{
    margin-bottom: 28px;
}

.submissao{
    font-family: WC_RoughTrad;
    font-size: 19px;
}

.numeracao-criterio{
    float: left;
    height: 100px;
    margin-right: 15px;
}

.destaque{
    color: white;
}
/* 
    Created on : 15/05/2016, 01:50:49
    Author     : Wensttay
*/

.sobre-paragraph{
    margin-bottom: 35px;
    font-size: 19px;
    font-family: WC_RoughTrad;
}

.colum-type-text{
    margin-top: 30px;
}
/* 
    Created on : 17/05/2016, 00:05:22
    Author     : Wensttay
*/

@media screen and (min-width: 768px){
    .doble-colum .colum-left{
        padding-left: 0;
    }

    .doble-colum .colum-right{
        padding-right: 0;
    }
}

@media screen and (max-width: 768px){
    .doble-colum .colum-left,
    .doble-colum .colum-right{
        padding: 0;
        margin-top: 0;
    }

    .img-right,
    .before-img-left{
        margin-bottom: 0;
    }
}
/* 
    Created on : 14/05/2016, 22:57:40
    Author     : wensttay
*/

@media screen and (max-width: 1200px){
    .evento-nome{
        font-size: 100px;
    }
    .menu-principal-box ul.principal-list li.principal-list-item,
    ul.drop-menu{
        font-size: 14px;
        width: 130px;
    }

    h3{
        font-size: 16px;
    }
}
@media screen and (max-width: 940px){
    .menu-principal-box ul.principal-list li.principal-list-item,
    ul.drop-menu{
        font-size: 12px;
        width: 110px;
    }
    .default-box{
/*        width: 100% !important;*/
        margin: 0 0 35px 0 !important;
    }
}

@media screen and (max-width: 820px){
    .issn{
        color: rgba(255,255,255, 0.6);
        width: 200px;
        text-align: center;
        padding: 10px;

        border-bottom: 5px solid rgba(255,255,255,0.6);
        border-left: 5px solid rgba(255,255,255,0.6);
        border-right: 5px solid rgba(255,255,255,0.6);
        
        right: inherit;
        display: block;
        position: inherit;
        margin-top: 0;
        border-radius: 0 0 20px 20px;
    }

    .construindo-title{
        font-size: 50px;
    }
    header{
        padding: 0;
    }
    #logo-central{
        display: none;
    }

    #exit-menu-principal-button{
        display: block;
    }
    .menu-principal-box{
        margin-right: -100%;
        border: 5px solid rgba(255, 255, 255, 0.6);
        height: 100%;
        width: 100%;
        overflow:hidden;
        position: absolute;
        right: 0;
        position: fixed;

        background-image: url('../img/background/blackboard.jpg');
        background-repeat: no-repeat;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        padding-right: 0;
        padding-left: 0;
        /*transition: all 1s;*/
    }

    .menu-principal-box ul.principal-list li.principal-list-item{
        list-style: none;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

    .menu-principal-box ul.principal-list li{
        padding: 0 !important;
        margin: 7px 0;
    }
    .menu-principal-box ul.principal-list li.principal-list-item:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }
    .menu-principal-box ul.principal-list li.principal-list-item:hover,
    .menu-principal-box ul.principal-list li.principal-list-item-withsublist:hover{
        opacity: 1;
        color: white;
        border: none !important;
        border-radius: 0 !important;
    }

    ul.drop-menu{
        margin: 0; 
        display: none;
        font-size: 24px;
        visibility: visible;
        width: 100%;
        position: inherit;
        list-style: none;
        border-width: 5px 0;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-top-style: solid;
        border-top-color: white;
        border-radius: 0px;
        opacity: 0.6;
    }


    ul.drop-menu li.drop-menu-item{
        border-bottom: 0;
    }

    ul.drop-menu li.drop-menu-item:hover{
        opacity: 1;
    }

    #logo-small,
    #menu-principal-button{
        display: block;
    }

    .evento-info-box a h3{
        min-height: 34px !important;
    }
}

@media (max-height: 700px) and (max-width: 820px){

/*    .data-submissao{
        font-size: 18px;
    }*/

    .container-base{
        padding-top: 100px;
    }

    .menu-button-with-img, .menu-button-with-img img{
        width: 40px;
        height: 40px;
    }

    #exit-menu-principal-button{
        margin: 20px 0 20px 20px;
    }

    #menu-principal-button{
        margin: 20px 20px 20px 0;
    }

    #logo-small{ 
        margin: 20px 0 20px 20px;
    }

    .menu-principal-box ul.principal-list li.principal-list-item{
        font-size: 20px;
    }
}

@media screen and (max-width: 820px) and (max-height: 700px) {
    p{
        font-size: 16px;
    }    

    .criterios{
        font-size: 16px;
    }
}

@media screen and (max-width: 580px){
    p{
        font-size: 16px;
    }

    .numeracao-criterio{
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 580px) and (max-height: 700px) {
    p{
        font-size: 14px;
    }

    .criterios{
        font-size: 14px;
    }
}

@media screen and (max-width: 580px){

/*    .data-submissao{
        font-size: 16px;
    }*/

    .evento-nome{
        font-size: 50px;
    }
}

@media screen and (max-width: 450px){

    .issn, .issn-box{
        width: 150px;
    }
    .issn{
        font-size: 15px;
    }

    .evento-nome,
    .construindo-title{
        font-size: 40px;
    }
}

/* 
    Created on : 21/05/2016, 10:41:18
    Author     : wensttay
*/
.default-box .programacao-title{
    cursor: pointer;
    font-size: 24px;
}

/*.default-box .programacao-day-box{
    cursor: pointer;
}*/
.default-box .default-row .programacao-row-colum:first-child{
    font-size: 18px;
    padding-left: 0;
}
.default-box .default-row .programacao-row-colum{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

/* 
    Created on : 15/05/2016, 01:50:49
    Author     : Wensttay
*/

.organization{
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 100px;
}

.organization-box{
    margin: 0 auto;
    display: table;
}

.organization-list,
.people{
    margin: 0;
    padding: 0;
}

.organization-list{
    display: inline-flex;
    overflow-x: scroll;
}

@-moz-document url-prefix() { 
    .organization-list{
        overflow-x: hidden;
    }
}

.list-size-4{
    width: 840px;
}
.list-size-3{
    width: 630px;
}
/*.list-size-2{
    width: 420px;
}
.list-size-1{
    width: 210px;
}*/

::-webkit-scrollbar{
    display: none;
}

.people{
    height: 240px;
}

.people-box{
    width: 210px;
    height: 270px;
    max-width: 210px;
    max-height: 270px;
    display: table-cell;
    padding: 15px;
}

.back .people{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-filter: none;
    filter: none;
}

.social-icon-list{
    display: table;
    margin: 0 auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.social-icon-list .social-icon{
    -webkit-filter: grayscale();
    filter: grayscale(1);
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.social-icon-list a:last-child .social-icon{
    margin-bottom: 0;
}

.social-icon-list .social-icon:hover{
    -webkit-filter: none;
    filter: none;
}

.social-icon-list .small-icon{
    width: 50px;
    height: 50px;  
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .people-box{
        min-width: 210px;
    }
}

.people{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 15px black;
    -webkit-filter: grayscale();
    filter: grayscale(1);
    min-width: 180px;
    max-width: 180px;
}

.people .photo-box{
    max-height: 180px;
    min-height: 180px;
    max-width: 180px;
    min-width: 180px;

    padding: 10px;
    text-align: center;
}

.people .photo-box img{
    max-width: 160px;
    max-height: 160px;
}

.people .name{
    padding: 0 10px 10px 10px;
    height: 60px;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 24px;
    line-height: 110%;
    font-family: DiciHandwrite;
}

.scroll-button{
    font-size: 80px;
    padding: 1em 0;
    color: rgba(255,255,255, 1);
    cursor: pointer;
}

/*.scroll-button a{
    padding:0px;
    margin:0px;
}*/

.scroll-button-left{
    margin-left: 50px;
    float: left;
}
.scroll-button-right{
    margin-right: 50px;
    float: right;
}

/* continua a declaração de perspectiva para o container geral */
.flip-container { 
    perspective: 1000; 
    transform-style: preserve-3d; 
}  	

/*  MODIFICADO! vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .back { transform: rotateY(0deg); }  	
.flip-container:hover .front { transform: rotateY(180deg); }    
.flip-container, .front, .back { 
    width: 180px;
    height: 240px; 
}    

/* define a velocidade da animação */
.flipper {  	
    transition: 0.6s;  	
    transform-style: preserve-3d;    	
    position: relative;  
}    

/* esconde o verso durante a animação */
.front, .back { 
    backface-visibility: hidden;  	
    transition: 0.6s;  	
    transform-style: preserve-3d;    	
    position: absolute;  	
    top: 0;  	
    left: 0;  
}    

/*  MODIFICADO! frente posicionada sobre o fundo */
.front {  	
    z-index: 2;  	
    transform: rotateY(0deg);  
}    

/* verso inicialmente escondido */
.back { transform: rotateY(-180deg); }  

/* 
    Created on : 23/05/2016, 23:23:35
    Author     : wensttay
*/

@media screen and (max-width: 1200px){
    .list-size-4{
        width: calc(210px * 3);
    }
    .list-size-3{
        width: calc(210px * 3);
    }
/*    .list-size-2{
        width: calc(210px * 2);
    }
    .list-size-1{
        width: calc(210px * 1);
    }*/
}
@media screen and (max-width: 993px){
    .list-size-4{
        width: calc(210px * 2);
    }
    .list-size-3{
        width: calc(210px * 2);
    }
/*    .list-size-2{
        width: calc(210px * 2);
    }
    .list-size-1{
        width: calc(210px * 1);
    }*/
}
@media screen and (max-width: 610px){
    .list-size-4{
        width: calc(210px * 1);
    }
    .list-size-3{
        width: calc(210px * 1);
    }
/*    .list-size-2{
        width: calc(210px * 1);
    }
    .list-size-1{
        width: calc(210px * 1);
    }*/
}

@media screen and (max-width: 820px){
    .scroll-button-left{
        position: absolute;
        float: none;
        left: 0;
        margin-left: 50px;
    }
    .scroll-button-right{
        position: absolute;
        float: none;
        right: 0;
        margin-right: 50px;
    }
}

@media screen and (max-width: 400px){
    .scroll-button-left{
        margin-left: 20px;
    }

    .scroll-button-right{
        margin-right: 20px;
    }
}

@media screen and (max-width: 820px){
    .people .name p{
        font-size: 24px !important;
    }
}

/* 
    Created on : 28/05/2016, 19:21:52
    Author     : wensttay
*/

.erro-header-box{
    position: fixed;
    margin: 0;
    padding: 0;
    display: table;
    height: 75px;
    border-bottom: none;
}
.erro-header-box .erro-header-item{
    float: left;
}
.erro-header-box .erro-header-item .erro-logo{
    margin: 35px 0 35px 35px;
}
.erro-header-box .erro-header-item .erro-logo:hover{
    opacity: 1;
}
.erro-box{
    font-family: WC_RoughTrad;
}
.erro-title{
    margin-bottom: 30px;
    font-size: 32px;
}
.erro-message{
    font-size: 20px;
}
.erro-img-box .erro-img{
    max-width: 300px;
    width: 100%;
}
#error-section{
    padding-top: 180px;
}

/* 
    Created on : 28/05/2016, 19:23:08
    Author     : wensttay
*/

@media screen and (max-width: 700px){
    .erro-img-box .erro-img{
        max-width: 200px;
    }

    .erro-message{
        font-size: 16px;
    }

    .text-back{
        font-size: 20px;
    }
    .erro-article{
        margin-top: 40px;
    }
}

@media (max-height: 700px) and (max-width: 820px){
    .erro-header-box .erro-header-item .erro-logo{
        margin: 20px 0 20px 20px;
        width: 40px;
        height: 40px;
    }
    #error-section{
        padding-top: 80px;
    }
}

/* 
    Created on : 15/05/2016, 01:44:25
    Author     : Wensttay
*/

.contato{
    font-family: WC_RoughTrad;
}

.dados-list{
    margin: 0 auto;
}
.dados-box{
    margin-top: 15px;
    margin-bottom: 15px;
}
.dados{
    margin: 0 auto;
    width: 320px;
    border-radius: 20px;
}

.dados-info{
    margin: 30px 10px 10px 10px;
}

.material-icons { 
    font-size: 100px !important;
    float: left;
}

#map{
    height: 400px;
    border-radius: 20px;
    opacity: 0.6;

    -o-transition: all 1s; /* Opera */
    -moz-transition: all 1s; /* Firefox */
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

#map:hover{
    opacity: 1;
    -o-transition: all 1s; /* Opera */
    -moz-transition: all 1s; /* Firefox */
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/06/2016, 01:17:47
    Author     : wensttay
*/

@media screen and (max-width: 400px){
    .dados{
        width: 200px;
    }
    .material-icons { 
        font-size: 50px !important;

    }
    .dados-info{
        margin: 10px;
        word-break: break-all;
    }
}

/* 
    Created on : 26/05/2016, 08:34:10
    Author     : Wensttay
*/

.construcao-background{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('../img/background/construct-page-filter.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}

.construindo-title-box{
    z-index: 1;
    width: 100%;
    text-align: center;
    font-family: WC_RoughTrad;
    font-size: 100px;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/05/2016, 17:00:32
    Author     : Victor Hugo
*/

.container-menu-anais{
    margin-top: 50px;
}

.menu-anais{
    font-size: 22px;
    padding-bottom: 60px;
    display: inline-block;
    text-align: center;
    list-style: none;
    padding: 0px;
    font-family: WC_RoughTrad;
    font-weight: normal;   
    vertical-align: middle;
}

.anais-link{
    display: initial;
    line-height: 2em;
}

.container-chave-esquerda img, .container-chave-direita img{
    height: 130px;
}

.container-chave-esquerda, .container-chave-direita{
    display: inline-block;
}

.container-chave-direita{
    transform: rotate(180deg);
}

.body-list .default-row .comissao-people{
    font-family: ClaireHand;
    display: block;
    text-align: center;
}

.body-list .comissao-people .nome,
.body-list .comissao-people .email{
    font-family: WC_RoughTrad;
}

.body-list .default-row .comissao-people,
.body-list .comissao-people .nome,
.body-list .comissao-people .email{
    font-size: 18px !important;
}

@media screen and (max-width : 1200px){
    .body-list .default-row .comissao-people,
    .body-list .comissao-people .nome,
    .body-list .comissao-people .email{
        font-size: 14px !important;
    }
}

@media screen and (max-width : 330px){
    .body-list .default-row .comissao-people,
    .body-list .comissao-people .nome,
    .body-list .comissao-people .email{
        font-size: 10px !important;
    }

}

.sumario{
    font-family: WC_RoughTrad;
    font-size: 22px;
    list-style-position: inside;
}

.sumario p{
    display: inline;
}

.sumario ol, .sumario ul{
    padding: 0;
}
.sumario ol, .sumario ul.grup-of-files{
    margin-left: 40px;
    margin-bottom: 20px;
}

.sumario ul.grup-of-files{
    margin-left: 50px;
    font-size: 17px;
}
.sumario a{
    display: initial;
    font-family: ClaireHand;
    font-weight: bold;
}

.eixos-tematicos{
    padding-bottom: 10px;
}

.anais-link:hover{
    color: white !important;
}

.instituicao-box{
    display: table;
    margin: 0 auto;

}
.ifpb-anais-img{
    height: 200px;
    max-height: 200px;
}
@media screen and (max-width: 500px){
    .instituicao-box{
        display: block;
        width: 100%;
        margin: 0;

    }
    .instituicao-img-box{
        margin-bottom: 20px;
    }
    .instituicao-text-box, .instituicao-img-box{
        width: 100% !important;
    }

    .ifpb-anais-img{
        height: 100px;
        max-height: 100px;
    }
}

.instituicao-text-box{
    font-size: 24px;
    font-family: WC_RoughTrad;
}
.instituicao-text-box, .instituicao-img-box{
    text-align: center;
    width: 200px;
    float: left;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/06/2016, 11:27:13
    Author     : wensttay
*/

@media screen and (max-width : 720px){
    .sumario ol, .sumario ul.grup-of-files{
        margin-left: 30px;
    }

    .sumario ul.grup-of-files{
        font-size: 14px;
    }

/*    .tabela-comissoes tr td {
        font-size: 16px;
    }
    .tabela-comissoes .nome, .tabela-comissoes .email {
        font-size: 20px;
    }*/
}

@media screen and (max-width: 580px){

    .menu-anais{
        font-size: 18px;
    }

}

@media screen and (max-width: 480px){

    .menu-anais{
        font-size: 12px;
    }

    .container-chave-esquerda img, .container-chave-direita img{
        height: 90px;
    }

}

@media screen and (max-width: 345px){

    .menu-anais{
        font-size: 10px;
    }

    .anais-link{
        line-height: 2.5em;
    }

}