/* 
    Created on : 15/05/2016, 01:52:33
    Author     : Wensttay
*/

@font-face { font-family: WC_RoughTrad; src: url('../fonts/WC_RoughTrad.ttf');} 
@font-face { font-family: ClaireHand; src: url('../fonts/ClaireHandRegular.ttf');}
@font-face { font-family: Rayando; src: url('../fonts/rayando.ttf');} 
@font-face { font-family: DiciHandwrite; src: url('../fonts/DiciHandwrite.ttf');}


.padding-medium{padding: 10px;}
/*.padding-high{padding: 15px;}
.padding-extra-high{padding: 20px;}*/

a:active, a:link, a:hover, a:visited ,a{
    text-decoration: none;
    color: white;
    display: block;
}
.disabled,
.disabled a{
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}

.medium-margin-bottom{
    margin-bottom: 50px;
}

.hight-margin-bottom{
    margin-bottom: 100px;
}

html,body { 
    color: white;
    font-family: ClaireHand;
    height: 100%;
    margin:0;
    padding:0;
}

p{
    padding: 0;
    margin: 0;
}

.default-low-opacity{
    opacity: 0.8;
}
.default-low-color-white-transparence{
    color: rgba(255,255,255,0.8);
}
a.default-low-color-white-transparence{
    color: rgba(255,255,255,0.8) !important;
}

.default-border-color{
    border-color: rgba(255,255,255, 0.6);
}
.default-border{
    border: 5px solid rgba(255,255,255, 0.6);
}
.default-dashed-border{
    border: 5px dashed rgba(255,255,255, 0.6);
}
.default-border-bottom{
    border-bottom: 5px solid rgba(255,255,255, 0.6);
}
/*.default-border-left{
    border-left: 5px solid rgba(255,255,255, 0.6);
}
.default-border-right{
    border-right: 5px solid rgba(255,255,255, 0.6);
}
.default-border-top{
    border-top: 5px solid rgba(255,255,255, 0.6);
}
.default-border-radius{
    border-radius: 20px;
}*/

.default-box{
    border: 5px solid rgba(255,255,255, 0.6);
    border-radius: 20px;
    font-family: WC_RoughTrad;
    margin: 0 0 35px 0 !important;
}
.default-box .title{
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-width: 5px;
    border-bottom-style: solid;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
}
.default-box .body-img{
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}
.default-box .body-img:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.default-box .body-img .figure{
    max-width: 100%;
}
.default-box .body-img .figure-with-padding{
    padding: 20px;
}
.default-box .title,
.default-box .body-list .default-row,
.default-box .body-list .default-row .default-row-colum{
    width: 100%;
}
.default-box .default-row{
    padding: 15px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}
.default-box .default-row:last-child{
    border-radius: 0 0 10px 10px;
    border-bottom: none;
}
.default-box .default-row:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
}

.invisivel{}
.exibindo{}

.off-load{
    display: none !important;
}

.article-title{
    font-family: WC_RoughTrad;
    padding: 10px auto;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    font-size: 28px;
    margin-bottom: 35px;
    text-align: center;
}

/*.selecionado{
    border-color: #337ab7;
    border-style: solid;
    border-bottom-width: 3px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}*/

.container-base{
    padding-top: 150px;
    width: 100%;
    display: none;

}

.background{
    height: 100%;
    z-index: -1;
    width: 100%;
}

.blackboard-background {
    position: fixed;
    background-image: url('../img/background/blackboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header{
    padding: 20px 0;
    z-index: 999;
    width: 100%;
}

.issn-box{
    margin: 0 auto;
    width: 200px;
}

.issn{
    color: rgba(255,255,255, 0.6);
    font-size: 14px;
    font-weight: bold;
    width: 150px;
    text-align: center;
    padding: 5px;
    z-index: -1;
    right: 0;
    display: fixed;
    position: absolute;
    margin-top: -10px;
    border-radius: 0 0 0 20px;
}

section{
    padding:10px;
    padding-bottom: 100px;   /* More that Height of the footer */
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
    height: 60px;
    padding: 10px;
}

nav{
    display: table;
    margin: 0 auto;	
}

.menu-principal-box ul.principal-list{
    height: 80px;
    padding: 0px;
    margin: 0px;
    color: rgba(255,255,255, 0.8);
}


.menu-button-with-img{
    cursor: pointer;
    height: 75px;
    width: 75px;
}

.menu-button-with-img:hover .button-img{
    opacity: 1;
}

#exit-menu-principal-button{
    float: left;
    margin: 35px 0 35px 35px;
    display: none;
}

#menu-principal-button{
    display: none;
    float: right;
    margin: 35px 35px 35px 0;
    display: none;
}

#logo-small{  
    float: left;
    margin: 35px 0 35px 35px;
    display: none;
}

.menu-principal-box ul.principal-list li.principal-list-item:hover a.item-title{
    color: rgba(255, 255, 255, 1) !important;
}
.menu-principal-box ul.principal-list li.item-bordered:hover{
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.6);
}
.menu-principal-box ul.principal-list li.principal-list-item-withsublist{
    border-radius: 20px 20px 0px 0px !important;
}
.menu-principal-box ul.principal-list li.principal-list-item-withsublist:hover{
    border: 4px dashed rgba(255, 255, 255, 0.6) !important;
}
.menu-principal-box ul.principal-list li.principal-list-item-withsublist .list-item-withsublist-title{
    cursor: default;
}
li.page-link:hover a{
    color: rgba(255, 255, 255, 1) !important;
}
li.page-link:hover{
    background-color: rgba(255, 255, 255, 0.2);   
}

li.page-link, li.item-bordered, ul.drop-menu{
    padding: 7px;
}

ul.drop-menu{
    visibility: hidden;
    margin-left: -11px;
    margin-top: 7px;
    list-style: none;
    border-width: 4px;
    border-style: solid;
    position: fixed;
    padding: 0px;
    border-radius: 0px 0px 20px 20px;
}

ul.drop-menu,
.menu-principal-box ul.principal-list li.principal-list-item{
    width: 155px;    
}

.menu-principal-box ul.principal-list li.principal-list-item{
    list-style: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

ul.drop-menu li.drop-menu-item{
    /*padding: 10px 0;*/
    border-bottom-width: 5px;
    border-bottom-style: solid;
    list-style: none;
    display: block !important;
}
ul.drop-menu li.drop-menu-item:last-child{
    border-bottom: none;
}
ul.drop-menu li.drop-menu-item:hover a{
    opacity: 1;
    color: rgba(255, 255, 255, 1);
}

#container-fullpage {
    min-height:100%;
    position:relative;
}

footer p{
    padding-top: 10px;
}

/*
 * This code make a centralized images Vertically and horizontally
*/
.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.container-ajust {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font: 0/0 a;
    text-align:center; /* Align center inline elements */
}

.container-ajust:before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    height: 100%;
}

.container-ajust img{
    vertical-align: middle;
    display: inline-block;
    width: 60%;
}
/* END */

#footer{
    z-index: 9999;
}