@font-face { font-family: ChalkDust; src: url('../fonts/ChalkDust.ttf');} 
@font-face { font-family: Rayando; src: url('../fonts/rayando.ttf');} 
@font-face { font-family: Rudiment; src: url('../fonts/Rudiment.ttf');} 
@font-face { font-family: ClaireHand; src: url('../fonts/ClaireHandRegular.ttf');} 
@font-face { font-family: WC_RoughTrad; src: url('../fonts/WC_RoughTrad.ttf');} 
@font-face { font-family: erasdust; src: url('../fonts/erasdust.ttf');} 

html,body { 
    color: white;
    font-family: ClaireHand;
    height: 100%;
}

.titulo-sessao span{
    padding: 10px 30px 10px 30px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    font-size: 28px;
    opacity: 1 !important;
}

.conteudo-sessao{
    /*opacity: 0.1;*/
}

#sobre{
    font-size: 19px;
    font-family: WC_RoughTrad;
}

.conteudo-sessao{
    margin-top: 50px;
}

.navbar{
    background-color: rgba(0,0,0,0);
    border: none;
}

.navbar-nav li a{
    color: white !important;
}

.navbar-nav .active a{
    background-color: rgba(6,192,9,0.5) !important;

}

.nome-evento{
    font-size: 165px;
    font-family: Rayando;
}

.vermelho{
    background-color: red;
}

.verde{
    background-color: green;
}

.azul{
    background-color: blue;
}

.container-base{
    padding-top: 150px;
    width: 100%;
    display: absolute;
}

.backgorund{
    background-image: url('../img/blackboard2.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}

footer{
    margin-top: 70px; 
    padding: 10px;
}

header{
    position: fixed;
    width: 100%;
    background-image: url('../img/blackboard2.jpg');	
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 999;
}

nav{
    display: table;
    margin: 0 auto;	
}

.menu_principal ul li{
    list-style: none;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    width: 110px;
    text-align: center;
}

.menu_principal ul{
    padding: 0px !important;
}

.padding-medium{
    padding: 10px;
}

.padding-high{
    padding: 15px;
}